@{
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}





<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sistema de Agendamento de Lancha</title>
</head>
<body style="display: flex; justify-content: center; align-items: center; height: 100vh;">
    <main style="max-width: 800px; text-align: center; padding: 20px;">
        <header>
            <h1>Bem-vindo ao Sistema de Agendamento de Lancha</h1>
        </header>
        <section id="sobre">
            <h2>Sobre Nós</h2>
            <p>O nosso sistema de agendamento de lancha foi criado para facilitar a reserva e o gerenciamento de passeios de lancha. Com uma interface intuitiva e fácil de usar, estamos comprometidos em proporcionar a melhor experiência possível para os nossos clientes.</p>
            <p>Nossa equipe é formada por profissionais experientes e apaixonados pelo mar, prontos para atender às suas necessidades e garantir que você tenha momentos inesquecíveis navegando pelas águas.</p>
        </section>
        <section id="contato">
            <h2>Entre em Contato</h2>
            <p>Para mais informações sobre nossos serviços ou para agendar um passeio de lancha, entre em contato conosco:</p>
            <ul>
                <li>Email: contato@agendamentolancha.com</li>
                <li>Telefone: (XX) XXXX-XXXX</li>
            </ul>
        </section>
    </main>
    <footer style=" bottom: 0; width: 100%; background-color: #f2f2f2; padding: 10px 0; text-align: center;">
        <p>&copy; 2024 Sistema de Agendamento de Lancha. Todos os direitos reservados.</p>
    </footer>
</body>
</html>
